@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
*{
  font-family: 'Orbit', sans-serif;
}
a {
  color: #00B7FF;
}

.ellipsis {
  overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical
}